.err {
  /* top: 100%;
  left: 0; */
  color: red;
  font-size: 12px;
  margin-top: 4px;
  position: absolute;
  top: 0;
  left: 200px;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
